<div class="div-container">
  <div class="item1">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
      <mat-card-title>Areca Palme</mat-card-title>
      <mat-card-content>
        <p>Die tropische Palme sorgt mit ihren Blattwedeln ganzjährig für Urlaubsstimmung in den eigenen vier Wänden. Zusätzlich ist sie besonders Luftreinigend.</p>
      </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="item2">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
        <mat-card-title>Efeutute</mat-card-title>
        <mat-card-content>
          <p>Hängend und kletternd sorgt die Efeutute in jedem Zuhause für ein dschungelartiges Gefühl. Es gibt sie in dunkel, in hell und sogar mit Flecken.</p>
        </mat-card-content>
        </div>
    </mat-card>
  </div>

  <div class="item3">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
        <mat-card-title>Monstera</mat-card-title>
        <mat-card-content>
          <p>Die Trend-Pflanze schlecht hin. Kein Wunder, denn die Monstera ist nicht nur Pflegeleicht, sondern schaut auch noch gut aus. Es gibt sie in vielen Größen.</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
